
/* Inicio del código CSS*/

/* ----- Características Principales en todos los tamaños ----- */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    height: 50px;
    margin-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000000;
}

#logo{
    margin-left:5px;
    margin-right: 10px;
}

.nombrePag{
    /* Nombre en el Header */
    justify-content: center;
    align-items: center;
    height: 50px;
    display: inline-flex;
}

.container{
    /* Container incluye las tres partes centrales 
     * de la página que son nav, section y aside 
    */
    display: flex;
}

#tituloSeccion{
    margin:20px;
    text-align: center;
}

.flexIntroduccionesVideos{
    display:flex;
    margin: 5px;
    margin-bottom: 20px;
    
}

.textoIntro{
    margin-left:10px;
    margin-bottom: 20px;
}

.titulotexto{
    order:1;
    width:50%;
    margin-bottom:10px;
    margin-left:20px;
}

.videoCurso{
    width: 50%;
    order:0;
}

video{
    width: 100%;
    height: auto;
}

article{
    margin-bottom: 50px;
}

section{
    /* Centro de la página de Contenidos del curso*/
    border: 1px solid #000000;
    padding: 10px;
    position: relative;
}

.contenerdorEstudiantes{
    /* Centro de la página de Lista de Estudiantes*/
    border: 1px solid #000000;
    padding: 10px;
    position: relative;
}

/* Cuando la tabla no quepa en el contenedor */
@media screen and (max-width:1620px){
    table {
        /*Para que la tabla no se salga de la
        columna central*/
        display: block;
        overflow-x: auto;
        /* Fuente */
        font-family: arial, sans-serif;
    }
}

/* Tabla de estudiantes */
table {
    /* Tipo de borde */
    border-collapse: collapse;
    /* Fuente */
    font-family: arial, sans-serif;
    margin: auto;
}

/* Columnas y Filas de la tabla de estudiantes*/
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
}

/* Títulos de la parte Central */
#studentsList{
    text-align:center;
}

.ultimosEventos{
    margin:10px;

}

.proximosEventos{
    margin:10px;
}

h1{
    font-size: 20px;
    padding: 0px;
}

h2{
    padding:0px;
    margin:0px;
}

h4{
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 10px;
}

h5{
    margin:10px;
    color:#0099ff;
}


dt{
    margin-bottom: 10px;
    font-size: 30px;
}

dd{
    margin-left:0px;
    margin-bottom: 5px;
    font-size: 20px;
}

/* Pie de la página*/
footer{
    display:flex;
    font-size:10px;
}   

.partepie{
    padding: 10px;
    text-align: center;
    width: 100%;
    border: 1px solid #000000;
    font-size: 14px;
}

.dropdown {
    margin-right:5px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
   .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 3px;
    z-index: 1;
    margin-left: -10px;
    margin-top: 37px;
  }
  
#yes:checked ~ .dropdown-content{
    display:block;
}
  
#yes{
    display:none;
}


/*------------------------------------------------------------------*/



/* ----- PARA PANTALLAS DE MÁS DE 769px (PC) -----*/
@media (min-width: 769px){
    
    header{
        margin-left: 40px;
        margin-right: 40px;
    }

    .dropdown{
        display:none;
    }

    .alturaNav{
        display:flex;
        align-items: center;
        height: 50px;
        float: right;
    }

    .navHeader{
        display: inline-flex;
        border: 1px solid #000000;
    }
    
    .container{
        /* Container incluye las tres partes centrales 
         * de la página que son nav, section y aside 
        */
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 40px;
        margin-left: 40px;
    }

    /* Parte izquierda de la página, donde está el navegador de la página */
    nav{ 
        border: 1px solid #000000;
        width: 25%; 
    }
    
    /* Parte central de la página donde se encuentra todo el contenido */
    section{ 
        margin-left: 10px;
        width: 50%; 
        margin-right:10px;
    }

        /* Parte derecha de la página donde se encuentra los mensajes del foro y notificaciones */
    aside{ 
        border: 1px solid #000000;
        width: 25%;
    }

    .contenerdorEstudiantes{
        margin-left: 10px;
        width: 50%; 
        margin-right:10px;
    }
    

    h3{
        margin: 0px;
        font-size: 13px;
        padding-right: 7px;
        padding-left: 8px;
        color:#000000;
    }

    h4{ font-size:20px; }
    
    h5{ font-size:17px; }
    
    footer{
        display:flex;
        margin-left: 40px;
        margin-right: 40px;
        font-size:10px;
    }  


}



/*------------------------------------------------------------------*/



/* ----- PARA PANTALLAS MÁS PEQUEÑAS QUE 768px (TABLET) -----*/
@media (max-width:768px){


    header{
        margin-left: 30px;
        margin-right: 30px;
    }

    .dropdown{
        display:none;
    }

    .flexIntroduccionesVideos{
        display:block;
    }

    .textoIntro{
        margin:0px;
    }
    .titulotexto{
        width:100%;
        margin-left:0px;

    }
    
    .videoCurso{
        width: 100%;
    }

    .imagenTopic{
        display:none;
    }


    .alturaNav{ display: none; }
    

    .container{
        /* Container incluye las tres partes centrales 
         * de la página que son nav, section y aside 
        */
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 30px;
        margin-left: 30px;
    }

    /* Parte izquierda de la página, donde está el navegador de la página */
    nav{ 
        border: 1px solid #000000;
        width: 25%; }
    
    /* Parte central de la página donde se encuentra todo el contenido */
    section{ 
        margin-left:10px;
        width: 75%; }


    /* Contenedor de la lista de estudiantes parte central*/
    .contenerdorEstudiantes{ 
        margin-left:10px;
        width: 75%; }
    
    /* Parte derecha de la página donde se encuentra los mensajes del foro y notificaciones */
    aside{ display: none !important; }
    
    h4{ font-size:15px; }
    
    h5{ font-size:12px; }

    footer{
        display:flex;
        margin-left: 30px;
        margin-right: 30px;
        font-size:10px;
    }  
}


@media (max-width:600px){

    header{
        margin-left: 10px;
        margin-right: 10px;
    }

    .dropdown{
        display:block;
    }


    .titulotexto{
        margin-left: 0px;
    }

    .texto{
        display:none;
    }

    .alturaNav{ display: none; }

    nav{display:none;}
    
    section{
        margin: 0px;
        width: 100%;
    }

    .container{
        /* Container incluye las tres partes centrales 
         * de la página que son nav, section y aside 
        */
        margin-right: 10px;
        margin-left: 10px;
    }
    .contenerdorEstudiantes {
        margin: 0px;    
        padding: 0px;
        width: 100%;
    }

    aside{ display: none;}

    footer{
        display:flex;
        margin-left: 10px;
        margin-right: 10px;
        font-size:10px;
    }  

}