
/* Inicio del código CSS*/

header{
    margin-top:10px;
    margin-left: 50px;
    margin-right: 50px;
    border:1px solid #000000;
    padding-left: 1%;
    padding-top: 0%;
    border: 1px solid #000000;
}

/* Pie de la página*/
footer{
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid #000000;
    border: 1px solid #000000;
    font-size:10px;

}   

/* foot incluye el formato con bordes y barras verticales de separacion pedidas para el footer */
.foot {
    margin-left: 50px;
    width:100px;
    margin-right: 5px;
    border-right: 1px solid black;
}


/* Containter incluye las tres partes centrales de la página que son nav, section y aside */
.container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

/* Parte izquierda de la página, donde está el navegador de la página */
nav{
    border: 1px solid #000000;
    width: 25%;
}

/* Parte central de la página donde se encuentra todo el contenido */
section{
    margin-left:10px;
    margin-right:10px;
    border: 1px solid #000000;
    width: 50%;
    padding: 10px;
}

/* Parte derecha de la página donde se encuentra los mensajes del foro y notificaciones */
aside{
    border: 1px solid #000000;
    width: 25%;
}

/* Contenedor de la lista de estudiantes parte central*/
.contenerdorEstudiantes{
    margin-left:10px;
    margin-right:10px;
    border: 1px solid #000000;
    width: 50%;
    padding: 10px;
}

/* Cuando la tabla no quepa en el contenedor */
@media screen and (max-width:1620px){
    table {
        /*Para que la tabla no se salga de la
        columna central*/
        display: block;
        overflow-x: auto;
        /* Tipo de borde */
        border-collapse: collapse;
        /* Fuente */
        font-family: arial, sans-serif;
    }
}

/* Tabla de estudiantes */
table {
    /* Tipo de borde */
    border-collapse: collapse;
    /* Fuente */
    font-family: arial, sans-serif;
    /* Posición de la tabla dentro de la columna central*/
    float: center;
    margin: auto;
}

/* Columnas y Filas de la tabla de estudiantes*/
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
}

/* Títulos de la parte Central */
#studentsList{
    text-align:center;
}


