
/* Inicio del código CSS*/

/* ----- Características Principales en todos los tamaños ----- */

header{
    height: 50px;
    margin-top:10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000000;
}

.nombrePag{
    /* Nombre en el Header */
    height: 50px;
    display: inline-flex;
}

.container{
    /* Containter incluye las tres partes centrales 
     * de la página que son nav, section y aside 
    */
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
   
}

section{
    /* Centro de la página de Contenidos del curso*/
    border: 1px solid #000000;
    padding: 10px;
}

.contenerdorEstudiantes{
    /* Centro de la página de Lista de Estudiantes*/
    border: 1px solid #000000;
    padding: 10px;
}

/* Cuando la tabla no quepa en el contenedor */
@media screen and (max-width:1620px){
    table {
        /*Para que la tabla no se salga de la
        columna central*/
        display: block;
        overflow-x: auto;
        /* Tipo de borde */
        border-collapse: collapse;
        /* Fuente */
        font-family: arial, sans-serif;
    }
}

/* Tabla de estudiantes */
table {
    /* Tipo de borde */
    border-collapse: collapse;
    /* Fuente */
    font-family: arial, sans-serif;
    /* Posición de la tabla dentro de la columna central*/
    float: center;
    margin: auto;
}

/* Columnas y Filas de la tabla de estudiantes*/
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
}

/* Títulos de la parte Central */
#studentsList{
    text-align:center;
}

h1{
    font-size: 20px;
    padding: 0px;
}

h4{
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 10px;
}

h5{
    margin:10px
}

/* Pie de la página*/
footer{
    display:flex;
    margin-left: 50px;
    margin-right: 50px;
    font-size:10px;
}   

.partepie{
    padding: 10px;
    text-align: center;
    width: 100%;
    border: 1px solid #000000;
    font-size: 14px;
}



/*------------------------------------------------------------------*/



/* ----- PARA PANTALLAS DE MÁS DE 769px (PC) -----*/
@media only screen and (min-width: 769px){
    
    .alturaNav{
        display: flex;
        align-items: center;
        height: 50px;
        float: right;
    }

    .navHeader{
        display: flex;
        border: 1px solid #000000;
    }
    
    /* Parte izquierda de la página, donde está el navegador de la página */
    nav{ 
        border: 1px solid #000000;
        width: 25%; }
    
    /* Parte central de la página donde se encuentra todo el contenido */
    section{ 
        margin-left: 10px;
        width: 50%; 
        margin-right:10px;
    }

    .contenerdorEstudiantes{
        margin-left: 10px;
        width: 50%; 
        margin-right:10px;
    }
    
    /* Parte derecha de la página donde se encuentra los mensajes del foro y notificaciones */
    aside{ 
        border: 1px solid #000000;
        width: 25%;
    }

    h3{
        padding: 0 px;
        margin: 0px;
        font-size: 13px;
        padding-right: 13px;
        padding-left: 13px;
            
    }

    h4{ font-size:20px; }
    
    h5{ font-size:17px; }
    

}



/*------------------------------------------------------------------*/



/* ----- PARA PANTALLAS MÁS PEQUEÑAS QUE 768px (TABLET) -----*/
@media screen and (max-width:768px){
   
    .alturaNav{ display: none; }
    
    /* Parte izquierda de la página, donde está el navegador de la página */
    nav{ 
        border: 1px solid #000000;
        width: 25%; }
    
    /* Parte central de la página donde se encuentra todo el contenido */
    section{ 
        margin-left:10px;
        width: 75%; }

    /* Contenedor de la lista de estudiantes parte central*/
    .contenerdorEstudiantes{ 
        margin-left:10px;
        width: 75%; }
    
    /* Parte derecha de la página donde se encuentra los mensajes del foro y notificaciones */
    aside{ display: none !important; }
    
    h4{ font-size:15px; }
    
    h5{ font-size:12px; }
}
